@media (max-width: 991px) {
	.navbar {
	border-bottom: 0;
	}


	/*Navbar*/
	.navbar-nav {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
	z-index: 1500;
	transition: 0.5s;
	user-select: none;
	overflow: hidden;
}


.navbar-nav .nav-link{
	color: #000;
}

.navbar-nav.active {
	width: 100%;
}


.sticky {
	display: none;
	/*background: transparent;*/
}

.sticky .navbar-nav .nav-link::after {
	 content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width .2s;
    margin-top: 2px;
}

.sticky .navbar-nav .nav-link:hover::after  {
	width: 100%;
    transition: width 0.3s;
}

.nav-link {
	height: 100%;
	display: flex;
	list-style: none;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
}

.nav-link li {
	margin: 20px 20px;
}

.nav-item {
	color: #000;
	line-height: 40px;
	font-size: 40px;
}




	/*hamburger */

.toggle {
	position: fixed;
	z-index: 2000;
	top: 25px;
	right: 50px;
	/*transform: translate(-50%, -50%);*/
	width: 50px;
	height: 50px;
	/*background-color: white;*/
	cursor: pointer;
	/*mix-blend-mode: difference;*/

}


.toggle span {
	display: block;
	width: 25px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	transition: 0.5s;
	box-shadow: 0 2px 2px rgba(0,0,0,.20);
}


.toggle span:nth-child(1) {
	transform: translate(-50%, -50%) translateY(-10px);
	transition: 0.2s;
	width: 18px;
	height: 3px
}

.toggle span:nth-child(4) 
{
	transform: translate(-50%, -50%) translateY(10px);
	transition: 0.2s;
	width: 18px;
	height: 3px
}


.toggle.active span:nth-child(1) {
	transform: translate(-50%, -50%) translateY(-35px);
	opacity: 0;

}

.toggle.active span:nth-child(4) 
{
	transform: translate(-50%, -50%) translateY(35px);
	opacity: 0;

}

.toggle.active span:nth-child(2) {
	transform: translate(-50%, -50%) rotate(45deg);
	transition-delay: 0.2
	background-color: #000!important;
}

.toggle.active span:nth-child(3) 
{
	transform: translate(-50%, -50%) rotate(-45deg);
	transition-delay: 0.2
	background-color: #000!important;
}

}

@media (min-width: 1200px) {
	.owl-carousel .item {
		margin: 0 20px;
	}
}